@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap");

@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  ascent-override: 92%;
  descent-override: 23%;
  line-gap-override: 0%;
  size-adjust: 97%;
}
